{% extends "base.html" %}

{% block lab2 %} Лабораторная работа 4 {% endblock %}

{% block main %}
    {% if authorized %}
        <h1>Добро пожаловать, {{ name }}!</h1> 
        <div>
            <form action="/lab4/logout" method="post"> 
                <button>Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" id="login" name="login" value="{{ login }}">
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div style="color: red;">{{ error }}</div>
            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>
        
        <li><a href="/lab4/register">Регистрация</a></li>
        <li><a href="/lab4/edit">Редактировать профиль</a></li>
        <li><a href="/lab4/users">Список пользователей</a></li>
    {% endif %}
{% endblock %}
