{% extends "base.html" %}

{% block lab2 %} Лабораторная работа 9 {% endblock %}

{% block main %}
<link rel="stylesheet" href="/static/lab9/style9.css">
<h1>Что вам больше нравится?</h1>
<form method="POST" action="/lab9/preference2">
    {% if session['preference1'] == 'tasty' %}
        <input type="radio" name="preference2" value="sweet" required> Сладкое
        <input type="radio" name="preference2" value="hearty"> Сытное
    {% else %}
        <input type="radio" name="preference2" value="art" required> Искусство
        <input type="radio" name="preference2" value="nature"> Природа
    {% endif %}
    <input type="submit" value="Далее">
</form>
{% endblock %}