{%extends "base.html"%}

{% block lab2 %} Лабораторная работа 3 {% endblock %}
{% block main %}
    {%if user%}

    <h2>Привет, {{user}}!</h2>
    <h2>Добро пожаловать!</h2>
    <div>
    <h2>Ваш возраст: {{age}}!</h2>
    </div>
    <div>
    <h2>Ваш пол: {{'мужской' if sex == 'male' else 'женский'}}!! </h2>
    </div>
    <div>
        <a href="/lab3/form1">Заново</a>
    </div>
    {%else%}

    <h1>Пользователь</h1>
    <form>
        <label>Ваше имя:</label>
        <div>
            <input type = 'text' placeholder="Как вас зовут?" name="user" value="{{user or ''}}">
            <span class = "error">{{errors.user}}</span>
        </div>
        

        <label>Ваш возраст:</label>
        <div>
            <input type = 'number' name="age" value="{{age or ''}}">
            <span class = "error">{{errors.age}}</span>
        </div>

        <label>Ваш пол:</label>
        <div>   
            <select name = 'sex'>
                <option value="'male" {{sex == 'male' and 'selected'}}>мужчина</option>
                <option value="female" {{sex == 'female' and 'selected'}}>женщина</option>
            </select>
            <span class = "error">{{errors.sex}}</span>
        </div>
        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
    {%endif%}
{%endblock%}