{% extends "base.html" %}

{% block lab2 %} Лабораторная работа 5 {% endblock %}

{% block main %}

    <h1>Статьи</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article['title'] }}</h2>
                <blockquote>{{ article['article_text'] }}</blockquote>
                <a href="/lab5/edit">Редактировать</a>
                <form action="/lab5/delete" method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="{{ article['id'] }}">
                    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту статью?');">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
