{%extends "base.html"%}

{% block lab2 %} Лабораторная работа 2 {% endblock %}

{%block main%}
<h1>Породы собак</h1>
<div>
    <img src="{{ url_for('static', filename='йорк.png') }}" alt="Йорк" style="text-align: center;">
    <p>
        Йоркширский терьер, или йорк, — порода декоративных собак, 
        выведенная в Англии, в графстве Йоркшир в конце XIX века, на основе 
        таких пород как манчестер-терьер, скайтерьер, мальтезе и др. В настоящее время йоркширский 
        терьер — одна из самых популярных комнатно-декоративных пород собак.
    </p>
</div>
<div>
    <img src="{{ url_for('static', filename='корги.png') }}" alt="Корги">
    <p>
        Вельш-корги пемброк — порода пастушьих собак, выведенная в Пембрукшире, Уэльс. 
        Это одна из двух пород, известных как вельш-корги, а другая — кардиган вельш-корги. 
        Вельш-корги пемброк произошли от семейства собак шпиц.
    </p>
</div>
<div>
    <img src="{{ url_for('static', filename='пудель.png') }}" alt="Пудель">
    <p>
        Пудель — порода, которая на данный момент относится преимущественно к 
        группе декоративных собак. Изначально пудель являлся рабочей собакой, 
        в частности использовался на охоте. Пудель занимает второе место в рейтинге 
        самых умных пород, составленном доктором Стенли Кореном, после бордер-колли.
    </p>
</div>
<div>
    <img src="{{ url_for('static', filename='такса.png') }}" alt="Такса">
    <p>
        Та́кса — порода южно-немецких норных охотничьих собак. Существует несколько разновидностей 
        такс, отличающихся размерами и весом — стандартные, миниатюрные и кроличьи. Также такс разделяют 
        по шёрстному покрову на гладкошерстных, длинношёрстных и жесткошёрстных. Таксы имеют множество окрасов.
    </p>
<div>
    <img src="{{ url_for('static', filename='чихуахуа.png') }}" alt="Чихуахуа">
    <p>
        Чихуа́хуа — собака-компаньон. Считается самой маленькой собакой 
        в мире и носит имя мексиканского штата Чиуауа. Есть предположение, 
        что предки этой собаки жили в дикой природе, и в эпоху цивилизации тольтеков 
        были одомашнены ими. Имеет компактный корпус и отличается бойким и смелым характером.
    </p>
</div>
{%endblock%}