<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}Опарина Софья{% endif %}. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование. Часть 2.{% if nlab %}Лабораторная работа 2{% endif %}
    </header>
    
    <main>
        45<sup>8</sup> = {{ 45**8 }}<br>
    </main>

    <footer>
        &copy;
        {% if name %} 
            {{name}}, 
        {% else %}
            Анонимус,
        {% endif %}
        {{group}}, 
        {% if course %}
            {{course}} курс, 2024,
        {% else %}
            отдыхает,
        {% endif %}
    </footer>
</body>
</html>