<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Опарина Софья. Лабораторная работа {{nlab}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование. Часть 2. Лабораторная работа {{nlab}}
    </header>
    
    <main>
        45<sup>8</sup> = {{ 45**8 }}<br>
    </main>

    <footer>
        &copy {{name}}, {{group}}, {{course}} курс, 2024
    </footer>
</body>
</html>