{% extends "base.html" %}

{% block lab2 %} Магазин мебели {% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='rgzf/main.js') }}"></script>
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylergz.css') }}">
<h1>Магазин мебели</h1>

<!-- Кнопки для действий пользователя -->
<div class="user-actions">
    {% if session.get('login') %}
        <p style="text-align: center; font-family: 'Courier New', Courier, monospace; font-weight: bold;">Добро пожаловать, {{ session.get('user_name') }}!</p>
        <a class="button" href="/rgz/cart">Корзина</a>
        <a class="button" href="/rgz/logout">Выйти</a>
    {% else %}
        <a class="button" href="/rgz/register">Регистрация</a>
        <a class="button" href="/rgz/login">Войти</a>
    {% endif %}
</div>

<!-- Список товаров -->
<h2 class="product-list-title">Список товаров</h2>

<div class="product-grid">
    {% for product in products %}
    <div class="product-item">
        <div class="product-image">
            <img src="{{ product.img_url }}" alt="{{ product.name }}">
        </div>
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-price">{{ product.price }} руб.</p>
        <p class="product-description">{{ product.description }}</p>
        <button class="add-to-cart" data-product-id="{{ product.id }}">Добавить в корзину</button>
    </div>
    {% endfor %}
</div>

<script>
    window.onload = fillProductListOK;
</script>
{% endblock %}